﻿@{
    //page title
    string pageTitle = "الرئيسية";
    ViewBag.Title = pageTitle;
}
<div class="content-header">
    <h1>
        @pageTitle
    </h1>
</div>
<div class="content egic-home-page">

    
</div>
<div style="margin-top:50px;">
    <h1 class="text-center">
        ايجيك
    </h1>
    <h3 class="text-center">
        المصرية الألمانية للصناعات الإنشائية
    </h3>
    <h4 class="text-center">
        شنط رمضان
    </h4>
</div>