@font-face {
    font-family: 'DroidArabicKufiBold';
        src: url('DroidKufi-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'DroidArabicKufiRegular';
        src: url('DroidKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

 /* The following rules are deprecated. */ 

@font-face {
    font-family: 'Droid Arabic Kufi';
        src: url('DroidKufi-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }



@font-face {
    font-family: 'Droid Arabic Kufi';
        src: url('DroidKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

