﻿@model DateTime?
@{
    string dateFormat = "dd/MM/yyyy";
}
<input id="@Html.IdForModel()" name="@Html.NameForModel()" value="@(Model > DateTime.MinValue || Model.HasValue ? Model.Value.ToString(dateFormat) : null)" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.IdForModel()").kendoDatePicker({
            format: "@dateFormat"
        });
    });
</script>