﻿@model string
@using EGIC.Web.Framework.UI;
@using RamadanBags.Services.RamadanBags;
@inject IRamadanBagService _ramadanBagService

@{
    string defaultImageUrl = _ramadanBagService.GetDefaultPictureUrl().Replace("\\","/");
    var random = CommonHelper.GenerateRandomInteger();
    var clientId = "picture" + random;
    //var bag = _ramadanBagService.GetRamadanBagByID(Model);
    //if(bag == null)
    //{
    //    bag = new EGIC.Core.Domain.RamadanBags.RamadanBag { ID_FrontImagePath = defaultImageUrl, ID_RearImagePath = defaultImageUrl };
    //}
}

<div id="@(clientId + "value")">
    <input type="hidden" asp-for="@Model" />
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div id="@(clientId + "image")" class="uploaded-image">
            @*<div style="height: 150px;width: 150px;background-image: url('@(string.IsNullOrWhiteSpace(Model)?defaultImageUrl:Model)');background-size:contain;background-repeat: no-repeat;display: inline-block;"></div>*@
            <img src="@(string.IsNullOrWhiteSpace(Model)?defaultImageUrl:Model)" width="150" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @*fine uploader container*@
        <div id="@clientId" class="upload-image-button pull-left margin-t-5">
            <noscript>
                <p>
                    Please activate JavaScript in your browser to be able to use upload image tool.
                </p>
            </noscript>
        </div>
    </div>
</div>

@*fine uploader template (keep it synchronized to \Content\fineuploader\templates\default.html)*@
<script type="text/template" id="@(clientId)-qq-template">
    <div class="qq-uploader-selector qq-uploader">
        @*<div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span>
                Remove Files
            </span>
        </div>*@
        <div class="qq-upload-button-selector qq-upload-button">
            <div>
                @(!string.IsNullOrWhiteSpace(Model) ? "تغيير ال":"اختر ")صورة
            </div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>
                يتم الرفع...
            </span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">
                    إلغاء
                </a>
                <a class="qq-upload-retry-selector qq-upload-retry" href="#">
                    إعادة المحاولة
                </a>
                <a class="qq-upload-delete-selector qq-upload-delete" href="#">
                    حذف
                </a>
                <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>
    </div>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        function compress(file) {
            console.log(file);
            const width = 475;
            const height = 300;
            const fileName = file.name;
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = event => {
                const img = new Image();
                img.src = event.target.result;
                img.onload = () => {
                    const elem = document.createElement('canvas');
                    elem.width = width;
                    elem.height = height;
                    const ctx = elem.getContext('2d');
                    // img.width and img.height will contain the original dimensions
                    ctx.drawImage(img, 0, 0, width, height);
                    ctx.canvas.toBlob((blob) => {
                        const file = new File([blob], fileName, {
                            type: 'image/jpeg',
                            lastModified: Date.now()
                        });
                    }, 'image/jpeg', 1);
                },
                    reader.onerror = error => console.log(error);
            };
        }
        $("#@(clientId)").fineUploader({
            validation: {
                allowedExtensions: ['jpeg', 'jpg', 'png', 'gif', 'bmp'],
                //itemLimit: 1,
                sizeLimit: ((10 * 1024) * 1024) // 30 kB = 30 * 1024 bytes
            },
            scaling: {
                sendOriginal: false,
                sizes: [
                    { name: "small", maxSize: 350 }
                ]
            },

            Picture: {
                endpoint: '@(Url.Content("/RamadanBags/AsyncUploadPicture"))',
            },
            template: "@(clientId)-qq-template",
            multiple: false
        })
        //    .on("submit", function (id, name) {
        //        var promise = new qq.Promise();
        //        var file = this.getFile(id);
        //        var image = new Image();

        //        var url = window.URL && window.URL.createObjectURL ? window.URL :
        //            window.webkitURL && window.webkitURL.createObjectURL ? window.webkitURL :
        //                null;

        //        image.onload = function () {
        //            if (compress(file)) {
        //                promise.success();
        //            } else {
        //                promise.failure();
        //            }

        //        };

        //        image.src = url.createObjectURL(file);

        //        return promise;
        //})
            .on("complete", function (event, id, name, responseJSON, xhr) {
            if (responseJSON.success) {
                $("#@(clientId + "image")").html("<img src='" + responseJSON.imageUrl + "' width='150' />");
                //$("#@(clientId + "image")").html(`<div style="height:150px;width:150px;background-image:url(${responseJSON.imageUrl});background-size:contain;background-repeat: no-repeat;display: inline-block;"></div>`);
                $("#@(clientId + "value") input").val(responseJSON.imageUrl);
                $("#@(clientId + "remove1")").show();
                //$("hidden#Path").val(responseJSON.imageUrl);
            }
            else {
                if (responseJSON.message)
                    alert(responseJSON.message);
                else if (responseJSON.errors)
                    alert(responseJSON.errors);
                else
                    alert("Error!");
            }
        });

        $("#@(clientId + "remove")").click(function (e) {
            var $this = $(this),
                picturePath = $("#@(clientId + "image1") img").attr('src');
            $.ajax({
                cache: false,
                url: '@(Url.Content("/Picture/DeletePicture"))',
                type: 'post',
                dataType: "json",
                data: {
                    picturePath: picturePath
                },
                success: function (data) {
                    if (!data.result) {
                        alert(data.message);
                    }
                    else {
                        $("#@(clientId + "image")").find("img").attr('src','@Html.Raw(defaultImageUrl)');
                        //$("#@(clientId + "image")").html(`<div style="height:150px;width:150px;background-image:url(@Html.Raw(defaultImageUrl));background-size:contain;background-repeat: no-repeat;display: inline-block;"></div>`);
                        $("#@(clientId + "value") input").val(0);
                        $this.hide();
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        });
    });
</script>