﻿@model string
@using EGIC.Web.Framework.UI;
@using RamadanBags.Services.RamadanBags;
@inject IRamadanBagService _ramadanBagService

@{
    //other variables
    string defaultImageUrl = _ramadanBagService.GetDefaultPictureUrl().Replace("\\", "/");
    var random = CommonHelper.GenerateRandomInteger();
    var clientId = "picture" + random;
    string btnUploadID = ViewBag.UploadButttonID;
    string parentElement = ViewBag.ParentModelPicturesCodesProp ?? "";

}

<!-- Fine Uploader Thumbnails template w/ customization
    ====================================================================== -->
<script type="text/template" id="qq-template-manual-trigger">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">

        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar">

            </div>
        </div>

        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>

        <div class="buttons">
            <div class="qq-upload-button-selector qq-upload-button">
                <div>اختر الصور</div>
            </div>
            @if (string.IsNullOrWhiteSpace(btnUploadID))
            {
                btnUploadID = "trigger-upload";
                <button type="button" id="@btnUploadID" class="btn btn-primary">
                    <i class="icon-upload icon-white"></i> رفع
                </button>
            }
        </div>

        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>معالجة الملفات المُختارة...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>

        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>

                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>

                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                @*<img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>*@
                <span class="qq-upload-file-selector qq-upload-file"></span>

                @*
                    <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                *@

                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">إلغاء</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">إعادة محاولة</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">حذف</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>

            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">إغلاق</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">لا</button>
                <button type="button" class="qq-ok-button-selector">نعم</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">إلغاء</button>
                <button type="button" class="qq-ok-button-selector">موافق</button>
            </div>
        </dialog>

    </div>
</script>

<style>
    #trigger-upload {
        color: white;
        background-color: #00ABC7;
        font-size: 14px;
        padding: 7px 20px;
        background-image: none;
    }

    #fine-uploader-manual-trigger .qq-upload-button {
        margin-right: 15px;
    }

    #fine-uploader-manual-trigger .buttons {
        width: 36%;
    }

    #fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
        width: 60%;
    }
</style>

<!-- Fine Uploader DOM Element
    ====================================================================== -->
<div id="fine-uploader-manual-trigger"></div>

<!-- Your code to create an instance of Fine Uploader and bind to the DOM/template
====================================================================== -->
<script>
    $(function () {
        var selectedPicturesCount = 0;
        var uploadedPicturesCount = 0;
        function isPicturesUploadCompleted() {
            return selectedPicturesCount == uploadedPicturesCount;
        }

        var manualUploader = new qq.FineUploader({
            element: document.getElementById('fine-uploader-manual-trigger'),
            template: 'qq-template-manual-trigger',
            request: {
                endpoint: '@(Url.Content("/RamadanBags/AsyncUploadPictures"))',
                params: {
                    pictureCodes: $("#@(clientId + "value") input").val()
                }
            },
            callbacks: {
                onComplete: function (event, id, file, responseJSON) {
                    if (file && file.success) {
                        var hiddenPicturesCodes = $('#PicturesCodes');
                        if (hiddenPicturesCodes.length != 1) {
                            alert('error: PicturesCodes length = ${hiddenPicturesCodes.length}');
                            return false;
                        }
                        var prevPicturesCodes = hiddenPicturesCodes.val();
                        var updatedPicturesCodes = "";
                        if (prevPicturesCodes == "")
                            updatedPicturesCodes = file.pictureCode;
                        else
                            updatedPicturesCodes = prevPicturesCodes + "," + file.pictureCode;

                        hiddenPicturesCodes.val(updatedPicturesCodes);
                        var parentElement = '@parentElement';
                        if (parentElement != "") {
                            $('#' + parentElement).val(updatedPicturesCodes);
                        }
                        uploadedPicturesCount++;
                        if (isPicturesUploadCompleted()) {
                            $('#@btnUploadID').prop('disabled', false).find('#uploading-progress').remove();
                            $('#@btnUploadID').closest('form').submit();
                        }
                    }
                },
                onSubmitted: function () {
                    selectedPicturesCount++;
                },
                @*onError: function (id, name, errorReason, xhr) {
                    $('#@btnUploadID').find('#uploading-progress').remove();
                    alert('Error: name ${name}');
                }*@
            },
            thumbnails: {
                placeholders: {
                    waitingPath: '/images/default-image.png',
                    notAvailablePath: '/images/not_available-generic.png'
                }
            },
            autoUpload: false,
            debug: true
        });
        qq(document.getElementById("@btnUploadID")).attach("click", function (e) {
            if (isPicturesUploadCompleted()) {
                $('#@btnUploadID').closest('form').submit();
                return false;
            }
            $('#@btnUploadID').prop('disabled', true).append('<i class="fa fa-spinner fa-spin fa-fw" id="uploading-progress"></i>');
            manualUploader.uploadStoredFiles();
        });
    });
</script>

<div id="@(clientId + "value")">
    <input type="hidden" asp-for="@Model" />
</div>