﻿@model EGIC.Core.Models.RamadanBags.RamadanBagModel

<link href="~/lib/fineuploader/fineuploader-4.2.2.min.css" rel="stylesheet" />
<script src="~/lib/fineuploader/jquery.fineuploader-4.2.2.min.js"></script>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <div class="col-md-12">
                <egic-label asp-for="@Model.ID_FrontImagePath" style="float:none!important;" />
                <br />
                <egic-editor asp-for="@Model.ID_FrontImagePath" />
                <span asp-validation-for="@Model.ID_FrontImagePath"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <div class="col-md-12">
                <egic-label asp-for="@Model.ID_RearImagePath" style="float:none!important;" />
                <br />
                <egic-editor asp-for="@Model.ID_RearImagePath" />
                <span asp-validation-for="@Model.ID_RearImagePath"></span>
            </div>
        </div>
    </div>
</div>