﻿@model PicturesModel
@using EGIC.Core.Models.RamadanBags
@{
    ViewBag.EntityCode = Model.EntityCode;
    ViewBag.UploadButttonID = Model.UploadButttonID;
    ViewBag.ParentModelPicturesCodesProp = Model.ParentModelPicturesCodesProp;
}

<link href="~/lib/fineuploader/fineuploader-4.2.2.min.css" rel="stylesheet" />
<script src="~/lib/fineuploader/jquery.fineuploader-4.2.2.min.js"></script>

<div class="panel panel-default">
    <div class="panel-heading">
        برجاء ادخال صور الرقم القومي 
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                <egic-label asp-for="PicturesCodes" />
            </div>
            <div class="col-md-9">
                <egic-editor asp-for="PicturesCodes" />
                <span asp-validation-for="PicturesCodes"></span>
            </div>
        </div>
    </div>
</div>