﻿@model EGIC.Core.Models.RamadanBags.RamadanBagModel
@using RamadanBags.Services.RamadanBags;
@inject IRamadanBagService _ramadanBagService
@{
    string defaultImageUrl = _ramadanBagService.GetDefaultPictureUrl().Replace("\\", "/");
}
<script src="~/lib/compressjs/compressjs.js"></script>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <div class="col-md-12">
                <egic-label asp-for="@Model.ID_FrontImagePath" style="float:none!important;" />
                <br />
                <img src="@(string.IsNullOrWhiteSpace(Model.ID_FrontImagePath)?defaultImageUrl:Model.ID_FrontImagePath)" width="150" id="previewFront" /> <br />
                <input type="file" id="uploadFront" style="display:inline-block;"/>
                <i id="spinnerFront" class="fa fa-spinner fa-spin fa-2x text-success" style="display:none;"></i>
                <input type="hidden" asp-for="ID_FrontImagePath" />
                <span asp-validation-for="@Model.ID_FrontImagePath"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <div class="col-md-12">
                <egic-label asp-for="@Model.ID_RearImagePath" style="float:none!important;" />
                <br />
                <img src="@(string.IsNullOrWhiteSpace(Model.ID_RearImagePath)?defaultImageUrl:Model.ID_RearImagePath)" width="150" id="previewRear" /> <br />
                <input type="file" id="uploadRear" style="display:inline-block;" />
                <i id="spinnerRear" class="fa fa-spinner fa-spin fa-2x text-success" style="display:none;"></i>
                <input type="hidden" asp-for="ID_RearImagePath" />
                <span asp-validation-for="@Model.ID_RearImagePath"></span>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        const compress = new Compress()
        const previewFront = document.getElementById('previewFront');
        const spinnerFront = $('#spinnerFront');

        const uploadFront = document.getElementById('uploadFront')
        const ID_Front = document.getElementById('ID_FrontImagePath')


        uploadFront.addEventListener('change', (evt) => {
            spinnerFront.show();
            const files = [...evt.target.files]
            compress.compress(files, {
                size: 0.5, // the max size in MB, defaults to 2MB
                quality: 0.75, // the quality of the image, max is 1,
                maxWidth: 950, // the max width of the output image, defaults to 1920px
                maxHeight: 600, // the max height of the output image, defaults to 1920px
                resize: true // defaults to true, set false if you do not want to resize the image width and height
            }).then((images) => {
                const img = images[0]
                // returns an array of compressed images
                let imgUrl = `${img.prefix}${img.data}`;
                previewFront.src = imgUrl;
                ID_Front.value = imgUrl;
                ID_Front.attributes['value'] = imgUrl;
                spinnerFront.hide();
            })
        }, false);


        const previewRear = document.getElementById('previewRear');
        const spinnerRear = $('#spinnerRear');

        const uploadRear = document.getElementById('uploadRear')
        const ID_Rear = document.getElementById('ID_RearImagePath')


        uploadRear.addEventListener('change', (evt) => {
            spinnerRear.show();
            const files = [...evt.target.files]
            compress.compress(files, {
                size: 0.5, // the max size in MB, defaults to 2MB
                quality: 0.75, // the quality of the image, max is 1,
                maxWidth: 950, // the max width of the output image, defaults to 1920px
                maxHeight: 600, // the max height of the output image, defaults to 1920px
                resize: true // defaults to true, set false if you do not want to resize the image width and height
            }).then((images) => {
                const img = images[0]
                // returns an array of compressed images
                let imgUrl = `${img.prefix}${img.data}`;
                previewRear.src = imgUrl;
                ID_Rear.value = imgUrl;
                ID_Rear.attributes['value'] = imgUrl;
                spinnerRear.hide();
            })
        }, false);
    });
</script>