﻿@inject IWorkContext workContext
@using RamadanBags.Services
@using System.Globalization
@{
    var kendoVersion = "2014.1.318";
    var supportRtl = true;


    //avatar
    var currentUser = workContext.CurrentUser;

    //page title
    string adminPageTitle = !string.IsNullOrWhiteSpace(ViewBag.Title) ? $" | {ViewBag.Title}" : "";
    adminPageTitle = $"ايجيك - شنط رمضان{adminPageTitle}";

    //sidebar
    const string hideSidebarAttributeName = "HideSidebar";
    var hideSidebar = currentUser == null;

}
<!DOCTYPE html>
<html @(supportRtl ? Html.Raw(" dir=\"rtl\"") : null)>
<head>
    <title>@adminPageTitle </title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    @if (supportRtl)
    {
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.rtl.css" />
        <link rel="stylesheet" href="~/lib/adminLTE/AdminLTE-2.3.0.rtl.css" />
        <link rel="stylesheet" href="~/css/admin/styles.rtl.css" />
    }
    else
    {
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/adminLTE/AdminLTE-2.3.0.min.css" />
        <link rel="stylesheet" href="~/css/admin/styles.css" />
    }
    <link href="~/css/droid-arabic-kufi.css" rel="stylesheet" />

    <style>
        body, h1, h4, h3, .buttons input {
            font-family: 'DroidKufi-Regular' !important;
            font-weight: normal !important;
            font-style: normal !important;
            /*font-size:inherit;*/
        }

        [data-role="datetimepicker"] {
            text-align: center;
            font-size: small !important;
        }

        .k-grid .k-grid-header .k-header {
            background-color: lightblue;
        }

        .k-grid tbody .k-grid .k-grid-header .k-header {
            background-color: #bcb4b0 !important;
        }

        .k-grid tbody .k-detail-row {
            background-color: #d2d6de !important;
        }

        /* third level grid header */
        .k-grid tbody .k-grid tbody .k-grid .k-grid-header .k-header {
            background-color: #c1c1c1 !important;
        }

        /*
        .k-grid tbody .k-detail-row.k-alt {
            background-color: #cdd0d8!important;
        }
        .k-grid tbody .k-detail-row:hover {
            background-color: #cdd0d8;
        }
        */

    </style>

    <link rel="stylesheet" href="~/lib/adminLTE/skins/_all-skins.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" />
    <link rel="stylesheet" href="~/lib/typeahead/typeahead.css" />
    <link rel="stylesheet" href="~/lib/fontAwesome/css/font-awesome-4.6.3.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="~/lib/kendo/@(kendoVersion)/kendo.common.min.css" />
    <link rel="stylesheet" href="~/lib/kendo/@(kendoVersion)/kendo.default.min.css" />

    @if (IsSectionDefined("css"))
    {
        @RenderSection("css")
    }

    <script type="text/javascript" src="~/lib/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/adminLTE/app.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/lib/typeahead/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/admin.common.js"></script>
    <script type="text/javascript" src="~/js/admin.navigation.js"></script>
    <script type="text/javascript" src="~/js/admin.search.js"></script>
    <script type="text/javascript" src="~/lib/kendo/@(kendoVersion)/kendo.web.min.js"></script>

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />

</head>
<body class="hold-transition skin-blue @(hideSidebar?" sidebar-collapse":"sidebar-mini") @((ViewBag.miniSidebar!=null && (bool)ViewBag.miniSidebar) ? " sidebar-collapse":"")">
    <div class="throbber">
        <div class="curtain">
        </div>
        <div class="curtain-content">
            <div>
                <h1 class="throbber-header">انتظر...</h1>
                <p>
                    <img src="@Url.Content("~/css/admin/images/throbber-synchronizing.gif")" alt="" />
                </p>
            </div>
        </div>
    </div>
    <div id="ajaxBusy">
        <span>&nbsp;</span>
    </div>
    <div class="wrapper">
        @if (IsSectionDefined("header"))
        {
            @RenderSection("header")
        }
        else
        {
            <div class="main-header">
                <a href="/" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"></span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"></span>
                </a>
                <div class="navbar navbar-static-top" role="navigation">
                    @if (!hideSidebar)
                    {
                        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                            <span class="sr-only">&nbsp;</span>
                        </a>
                    }

                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li>

                            </li>
                            @if (currentUser != null)
                            {


                                <li class="account-info">
                                    مرحباً, @(string.IsNullOrWhiteSpace(currentUser.FullName) ? currentUser.Username : currentUser.FullName)!
                                </li>
                                <li>
                                    <a asp-controller="Security" asp-action="Logout" asp-area="">خروج</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-controller="Security" asp-action="Login" asp-area="">تسجيل الدخول</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
        @if (IsSectionDefined("headermenu"))
        {
            @RenderSection("headermenu")
        }
        else if (!hideSidebar)
        {
            <div class="main-sidebar">
                <div class="sidebar">
                    <div class="sidebar-form">
                        <div id="search-box">
                            <input type="text" class="form-control admin-search-box typeahead" placeholder="بحث عن..">
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            Admin.Search.init();
                        });
                    </script>
                    @await Html.PartialAsync("Menu", workContext)
                </div>
            </div>
        }
        <div class="content-wrapper">
            @await Html.PartialAsync("Notifications")
            <div>
                @RenderBody()
            </div>
        </div>
        <div class="main-footer clearfix">
            <div class="pull-left">
                برمجة وتنفيذ <a href="#" target="_blank"> شركة ايجيك قسم تكنولوجيا المعلومات</a>
            </div>
            <div class="pull-right hidden-xs">
            </div>
            <div class="text-center">
                @DateTime.Now.ToString("f", new CultureInfo("ar-EG"))
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var AdminLTEOptions = {
            boxWidgetOptions: {
                boxWidgetIcons: {
                    collapse: 'fa-minus',
                    open: 'fa-plus'
                }
            }
        };
    </script>

    <a id="backTop" class="btn btn-back-top bg-teal"></a>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#backTop').backTop();

            $('a.sidebar-toggle').on('click', function () {
                var collapsed = $('body').hasClass('sidebar-collapse');
            });
        });
    </script>

    @if (IsSectionDefined("js"))
    {
        @RenderSection("js")
    }

</body>
</html>