﻿@model EmailTemplateModel
@using RamadanBags.Web.Models.EmailTemplates

<style>
    .email-container {
        position: relative;
        width: 100%;
        font-family: Calibri!important;
    }

    .email-bg {
        position: relative;
        z-index: 1;
        height: 100%;
        min-width: 400px;
        max-width: 700px;
        margin: 0 auto;
    }

    .email-center {
        width: 100%;
    }

    @@media screen and (max-width: 400px) {
        .email-center {
            width: 100%;
            overflow: hidden;
            margin: 0 -50px 0 -50px;
        }
    }
</style>

<div style="" class="email-container">
    <div class="email-bg">
        <div class="email-center">
            <p dir="rtl" style="text-align:right;direction:rtl;">
                <span style="">
                    Dears,
                </span>
                <br>
                <br>
                <span style="">
                    @Model.MessageBody
                </span>
            </p>
            @if (!string.IsNullOrWhiteSpace(Model.Url))
            {
                <p dir="ltr" style="text-align:left;direction:ltr;">
                    <a href="@Model.Url">
                        @Model.Url
                    </a>
                </p>
            }
            @if (!string.IsNullOrWhiteSpace(Model.SendFromFullName))
            {
                <p dir="rtl" style="text-align:right;direction:rtl;">
                    <span>
                        Thank you,
                        <br />
                        @(Model.SendFromFullName).
                    </span>
                </p>
            }
            <hr />
        </div>
    </div>
</div>