﻿@model DeleteConfirmationModel
@using EGIC.Web.Framework.Mvc.Models
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="@(Model.WindowId)-title">
                رسالة تأكيد
            </h4>
        </div>
        <form asp-action="@Model.ActionName" asp-controller="@Model.ControllerName" asp-route-code="@Model.Code">
            <div class="form-horizontal">
                <div class="modal-body danger">
                    @Model.Message
                </div>
                <div class="modal-footer">
                    <span class="btn btn-default" data-dismiss="modal">
                        إلغاء
                    </span>
                    <button type="submit" class="btn btn-danger pull-right">
                        موافق
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
