﻿@using EGIC.Web.Framework.Menu
@{
    var items = new List<SiteMapNode>
{
new SiteMapNode
{
    SystemName = "Home",
    IconClass = "fa-desktop",
    Title = "الرئيسية",
    ActionName = "Index",
    ControllerName = "Home",
    Visible = true
},
new SiteMapNode
{
    SystemName = "RamadanBags/Add",
    IconClass = "fa-plus",
    Title = "تسليم شنطة رمضان",
    ActionName = "Add",
    ControllerName = "RamadanBags",
    Visible = true
},
new SiteMapNode
{
    SystemName = "RamadanBags",
    IconClass = "fa-gift",
    Title = "عرض شنط رمضان",
    ActionName = "Index",
    ControllerName = "RamadanBags",
    Visible = true
}
    };
}
<ul class="sidebar-menu">
    @foreach (var item in items.Where(x => x.Visible))
    {
        @await Html.PartialAsync("_MenuItem", item)
    }
</ul>