﻿@using EGIC.Web.Framework.UI
@{
    //success messages
    var successMessages = new List<string>();
    if (TempData[$"egic.notifications.{NotifyType.Success}"] != null)
    {
        successMessages.AddRange(TempData[$"egic.notifications.{NotifyType.Success}"] as IList<string>);
    }
    if (ViewData[$"egic.notifications.{NotifyType.Success}"] != null)
    {
        successMessages.AddRange(ViewData[$"egic.notifications.{NotifyType.Success}"] as IList<string>);
    }


    //error messages
    var errorMessages = new List<string>();
    if (TempData[$"egic.notifications.{NotifyType.Error}"] != null)
    {
        errorMessages.AddRange(TempData[$"egic.notifications.{NotifyType.Error}"] as IList<string>);
    }
    if (ViewData[$"egic.notifications.{NotifyType.Error}"] != null)
    {
        errorMessages.AddRange(ViewData[$"egic.notifications.{NotifyType.Error}"] as IList<string>);
    }


    //warning messages
    var warningMessages = new List<string>();
    if (TempData[$"egic.notifications.{NotifyType.Warning}"] != null)
    {
        warningMessages.AddRange(TempData[$"egic.notifications.{NotifyType.Warning}"] as IList<string>);
    }
    if (ViewData[$"egic.notifications.{NotifyType.Warning}"] != null)
    {
        warningMessages.AddRange(ViewData[$"egic.notifications.{NotifyType.Warning}"] as IList<string>);
    }
}

@foreach (var message in successMessages)
{
    @*<div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @message
        </div>*@

    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i> تم بنجاح</h4>
        @Html.Raw(message)
    </div>
}

@foreach (var message in errorMessages)
{

    @*<div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @message
    </div>*@

    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-stop"></i>خطأ!</h4>
        @Html.Raw(message)
    </div>
}

@foreach (var message in warningMessages)
{
    @*<div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @message
        </div>*@

    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-warning"></i> تنبيه!</h4>
        @Html.Raw(message)
    </div>
}