﻿<div class="content text-center">
    <div class="content-header">
        <h1>
            الدخول مرفوض
        </h1>
    </div>
    <i class="fa fa-minus-circle" style="font-size:260px;color:#e66666;"></i>
    <div class="alert alert-danger alert-dismissable">
        انت تحاول الدخول على صفحة ليس لديك صلاحية للدخول عليها.
    </div>
</div>

