﻿@model LoginModel
@using EGIC.Core.Models.Security
@{
    //Layout = "_AdminLayout";
    Layout = null;// "_AdminLayout";
    string pageTitle = "تسجيل الدخول";
    //title
    ViewBag.Title = pageTitle;
}
<!DOCTYPE html>
<html lang="ar-eg" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ايجيك - شنط رمضان | تسجيل الدخول</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.rtl.css" />
    <link rel="stylesheet" href="~/lib/adminLTE/AdminLTE-2.3.0.rtl.css" />

    <!-- Font Awesome -->
    <link href="~/lib/fontAwesome/css/font-awesome-4.6.3.min.css" rel="stylesheet" />

    <!-- Ionicons -->
    <link href="~/lib/ionicons/ionicons.min.css" rel="stylesheet" />

    <link href="~/css/droid-arabic-kufi.css" rel="stylesheet" />
    <style>
        body, h1, h4, h3, .buttons input {
            font-family: 'DroidKufi-Regular' !important;
            font-weight: normal !important;
            font-style: normal !important;
            /*font-size:inherit;*/
        }
    </style>
    <!-- Theme style -->
    @*<link href="~/lib/adminLTE/AdminLTE-2.3.0.min.css" rel="stylesheet" />*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/lib/jquery-1.10.2.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.min.js"></script>
</head>
<body>
    <div class="login-box" style="margin: 0 auto 0 auto!important;">
        <div class="login-logo">
            <img src="~/images/egic.jpg" style="width:100%" />
            <div >
                <strong style="color: #725f58!important;">ايجيك</strong>
                <small style="color: #f28b2f!important;">شنط رمضان</small>
            </div>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg text-center">
                <strong>تطبيق توزيع شنط رمضان</strong>
                <br />
                <br />
                تسجيل الدخول
            </p>

            <form asp-action="Login" asp-controller="Security" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                <p class=" alert-danger" ID="lblErrorMessage" visible="false">
                    <div asp-validation-summary="ModelOnly" class="message-error text-danger"></div>
                </p>
                <div class="form-group has-feedback">
                    <input asp-for="Username" class="form-control" autofocus="autofocus" placeholder="اسم المستخدم" />
                    <span asp-validation-for="Username"></span>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input asp-for="Password" class="form-control" placeholder="كلمة المرور"/>
                    <span asp-validation-for="Password"></span>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <input class="btn btn-success btn-block btn-flat" type="submit" value="دخول" />
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-8">
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->

</body>
</html>

@*@section css{
        <link type="text/css" href="~/css/styles.rtl.css" rel="stylesheet" />
    }
    <div class="page login-page">
        <div class="page-title">
            <h1>
                @pageTitle
            </h1>
        </div>
        <div class="page-body">
            <div class="customer-blocks">
                <div class="returning-wrapper fieldset">
                    <form asp-action="Login" asp-controller="Security" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                        <div class="title">
                            <strong>
                                Kindly enter your username and passwrod.
                            </strong>
                        </div>

                        <div class="form-fields">
                            <div asp-validation-summary="ModelOnly" class="message-error">

                            </div>
                            <div class="inputs">
                                <label asp-for="Username" asp-postfix=":"></label>
                                <input asp-for="Username" class="username" autofocus="autofocus" />
                                <span asp-validation-for="Username"></span>
                            </div>
                            <div class="inputs">
                                <label asp-for="Password" asp-postfix=":"></label>
                                <input asp-for="Password" class="password" />
                                <span asp-validation-for="Password"></span>
                            </div>
                        </div>
                        <div class="buttons">
                            <input class="button-1 login-button" type="submit" value="Log in" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>*@
