﻿
@using EGIC.Core.Models.RamadanBags
@model RamadanBagModel
@{
    var familyCountDDL = new List<SelectListItem>();
    for (int i = 1; i < 15; i++)
    {
        var item = new SelectListItem
        {
            Text = $"{i}",
            Value = $"{i}",
            Selected = Model.FamilyCount == i
        };
        familyCountDDL.Add(item);
    }
}
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">

            @*@await Html.PartialAsync("_AddPicture", Model)*@
            @await Html.PartialAsync("_AddCustomePicture", Model)
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <egic-label asp-for="ShopName" />
                    </div>
                    <div class="col-md-3">
                        <div class="input-group input-group-required">
                            <egic-select class="btn-sm" asp-for="ShopGovCode" asp-items="Model.ShopGovs" asp-multiple="false" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group input-group-required">
                            <egic-select class="btn-sm" asp-for="ShopAreaCode" asp-items="Model.ShopAreas" asp-multiple="false" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group input-group-required">
                            <egic-select class="btn-sm" asp-for="ShopCode" asp-items="Model.Shops" asp-multiple="false" />
                        </div>
                    </div>
                </div>

            </div>
            <hr />
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <egic-form-field asp-for="Serial" />
                </div>
                <div class="col-md-6 col-sm-12">
                    @if (!string.IsNullOrWhiteSpace(Model.ID) && Model.Editable)
                    {
                        <div class="form-group">
                            <div class="col-md-3">
                                <egic-label asp-for="ID" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.ID</div>
                            </div>
                        </div>
                        <input type="hidden" asp-for="@Model.ID" />
                    }
                    else
                    {
                        <egic-form-field asp-for="ID" />
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <egic-form-field asp-for="Name" />
                </div>
                <div class="col-md-6 col-sm-12">
                    <egic-form-field asp-for="Mobile" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <egic-form-field asp-for="Job" />
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="col-md-3">
                            <egic-label asp-for="FamilyCount" />
                        </div>
                        <div class="col-md-9">
                            <div class="input-group input-group-required">
                                <egic-select class="btn-sm" asp-for="FamilyCount" asp-items="familyCountDDL" asp-multiple="false" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="col-md-3">
                            <egic-label asp-for="GovCode" />
                        </div>
                        <div class="col-md-9">
                            <div class="input-group input-group-required">
                                <egic-select class="btn-sm" asp-for="GovCode" asp-items="Model.Govs" asp-multiple="false" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="col-md-3 white">
                            <egic-label asp-for="CityCode" />
                        </div>
                        <div class="col-md-9">
                            <div class="input-group input-group-required">
                                <egic-select class="btn-sm" asp-for="CityCode" asp-items="Model.Cities" asp-multiple="false" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @await Html.PartialAsync("_SaveButton")

        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('click', '#btn-save', function () {
            const $this = $(this),
                form = $this.closest('form');
            $this.prop('disabled', true).append('<i class="fa fa-spinner fa-spin" style="color:white;"></i>');
            if (form.valid()) {
                form.submit();
            }
            else {
                $this.prop('disabled', false).find('i.fa-spinner').remove();
            }
        });

        $(document).on('change', '#@(Html.IdFor(x=>x.ShopGovCode))', function () {
            var govCode = $(this).find('option:selected').attr('value');
            var ddl = $('#ShopAreaCode');
            var resetDDL = function () {
                ddl.html('');
                $('#ShopCode').html('');
            };
            if (govCode === "") {
                resetDDL();
                if (govCode === "0") {
                    ddl.find('option:selected').removeAttr('selected');
                    ddl.find('option[value=""]').attr('selected', 'selected');
                }
                return false;
            }
            $.ajax({
                url: '@(Html.Raw(Url.Action("GetShopAreas", "RamadanBags")))',
                type: 'POST',
                data: { govCode: govCode },
                success: function (result) {
                    if (result && result.success) {
                        resetDDL();
                        for (var i = 0; i < result.data.length; i++) {
                            var value = result.data[i].value;
                            var text = result.data[i].text;
                            ddl.append('<option value="' + value + '">' + text + '</option>');
                        }
                    }
                },
                error: function (xhr) { console.log(xhr); }
            });
        });

        $(document).on('change', '#@(Html.IdFor(x=>x.ShopAreaCode))', function () {
            var selectedCode = $(this).find('option:selected').attr('value');
            var ddl = $('#ShopCode');
            var resetDDL = function () {
                ddl.html('');
            };
            if (selectedCode === "") {
                resetDDL();
                if (selectedCode === "0") {
                    ddl.find('option:selected').removeAttr('selected');
                    ddl.find('option[value=""]').attr('selected', 'selected');
                }
                return false;
            }
            $.ajax({
                url: '@(Html.Raw(Url.Action("GetShops", "RamadanBags")))',
                type: 'POST',
                data: { areaCode: selectedCode },
                success: function (result) {
                    if (result && result.success) {
                        resetDDL();
                        for (var i = 0; i < result.data.length; i++) {
                            var value = result.data[i].value;
                            var text = result.data[i].text;
                            ddl.append('<option value="' + value + '">' + text + '</option>');
                        }
                    }
                },
                error: function (xhr) { console.log(xhr); }
            });
        });

        $(document).on('change', '#@(Html.IdFor(x=>x.GovCode))', function () {
            var govCode = $(this).find('option:selected').attr('value');
            var ddl = $('#CityCode');
            var resetDDL = function () {
                ddl.html('');
            };
            if (govCode === "") {
                resetDDL();
                if (govCode === "0") {
                    ddl.find('option:selected').removeAttr('selected');
                    ddl.find('option[value=""]').attr('selected', 'selected');
                }
                return false;
            }
            $.ajax({
                url: '@(Html.Raw(Url.Action("GetCities", "RamadanBags")))',
                type: 'POST',
                data: { govCode: govCode },
                success: function (result) {
                    if (result && result.success) {
                        resetDDL();
                        for (var i = 0; i < result.data.length; i++) {
                            var value = result.data[i].value;
                            var text = result.data[i].text;
                            ddl.append('<option value="' + value + '">' + text + '</option>');
                        }
                    }
                },
                error: function (xhr) { console.log(xhr); }
            });
        });
    });
</script>