﻿@model RamadanBagModel
@using EGIC.Core.Models.RamadanBags

<style>
    .qq-upload-button {
        width: 145px !important;
    }
</style>
<div asp-validation-summary="All"></div>


<div class="content">
    <div class="form-horizontal">
        <egic-tabs id="model-edit">
            <egic-tab asp-name="tab-info" asp-title="ادخال البيانات" asp-default="true">
                @await Html.PartialAsync("_CreateOrUpdate.Info", Model)
            </egic-tab>
        </egic-tabs>
    </div>
</div>