﻿@using RamadanBags.Services.Security
@{
    Layout = null;
    var defaultGridPageSize = 10;
    var gridPageSizes = 10;
    string deleteRamadanBagId = "delete-ramadan-bag";
    
}

<div id="items-grid"></div>
<egic-action-confirmation asp-button-id="@(deleteRamadanBagId)" asp-message="@($"هل انت متأكد من حذف تسليم هذه الشنطة؟")" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#items-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("RamadanBagsList", "RamadanBags"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "data",
                    total: "total",
                    errors: "errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)],
                @await Html.PartialAsync("_GridPagerMessages")
            },
            dataBound: function () {
                //this.expandRow(this.tbody.find("tr.k-master-row").first());
            },
            scrollable: false,
            columns: [
                {
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    field: "serial",
                    title: "الكشف",
                    width: 20
                },{
                    headerAttributes: { style: "text-align:right" },
                    attributes: { style: "text-align:right" },
                    field: "username",
                    title: "المندوب",
                    width: 70
                },{
                    headerAttributes: { style: "text-align:right" },
                    attributes: { style: "text-align:right" },
                    field: "id",
                    title: "الرقم القومي",
                    width: 50
                }, {
                    headerAttributes: { style: "text-align:right" },
                    attributes: { style: "text-align:right" },
                    field: "name",
                    title: "اسم المُستفيد",
                    width: 200
                },{
                    headerAttributes: { style: "text-align:right" },
                    attributes: { style: "text-align:right" },
                    field: "shopName",
                    title: "التاجر",
                    width: 250
                }
                //,{
                //    title: "صورة البطاقة",
                //    width: 250,
                //    headerAttributes: { style: "text-align:center" },
                //    attributes: { style: "text-align:center" },
                //    template: '<img src="#=iD_FrontImagePath#" width="90"/> <img src="#=iD_RearImagePath#" width="90"/>'
                //    //template: '<div style="height:60px;width:90px;background-image:url(#=iD_FrontImagePath#);background-size:contain;background-repeat: no-repeat;display: inline-block;"></div> <div style="height:60px;width:90px;background-image:url(#=iD_RearImagePath#);background-size:contain;background-repeat: no-repeat;display: inline-block;"></div>'
                //}
                , {
                    title: "تعديل",
                    width: 90,
                    headerAttributes: { style: "text-align:center;" },
                    attributes: { style: "text-align:center;" },
                    template: "#if(editable){#<a class='btn btn-info btn-sm' href='@(Html.Raw(Url.Action("Update", "RamadanBags")))/#=id#'><i class='fa fa-edit'></i>تعديل</a>#}#"
                }
                , {
                    title: "حذف",
                    width: 90,
                    headerAttributes: { style: "text-align:center;" },
                    attributes: { style: "text-align:center;" },
                    template: "#if(editable){#<button id='btn-@(deleteRamadanBagId)_#=id#' class='btn btn-danger btn-sm' ><i class='fa fa-trash'></i>حذف</button>#}#"
                }
            ]
        });

        $("#SearchID, #SearchSerial").keydown(function (event) {
            if (event.keyCode === 13) {
                $("#btn-search").click();
                return false;
            }
        });
        $('#btn-search').click(function () {
            var grid = $('#items-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });

        $(document).on("click", "[id^='btn-@(deleteRamadanBagId)_']", function () {
                var code = $(this).attr('id').replace('btn-@(deleteRamadanBagId)_', '');
                $('#@(deleteRamadanBagId)-action-confirmation-submit-button').attr('data-code', code);
                $('#@(deleteRamadanBagId)-action-confirmation').modal('toggle');
                return false;
        });
        $(document).on('click', '#@(deleteRamadanBagId)-action-confirmation-submit-button', function () {
            var code = $(this).attr('data-code')
            var postData = {
                ID: code,
                isAjax: true
            };
            addAntiForgeryToken(postData);
            $.ajax({
                cache: false,
                type: "GET",
                url: "/RamadanBags/Delete/" + code,
                data: postData,
                complete: function (data) {
                    if (data.responseJSON.success) {
                        //reload grid
                        var grid = $('#items-grid').data('kendoGrid');
                        grid.dataSource.read();
                        $('#@(deleteRamadanBagId)-action-confirmation').modal('hide');
                        return false;
                    }
                    else {
                        alert(data.responseJSON.errorMessage)
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                },
                traditional: true
            });
            $('#@(deleteRamadanBagId)-action-confirmation').modal('toggle');
            return false;
        });
    });

    function additionalData() {
        var data = {
            SearchID: $('#SearchID').val(),
            SearchSerial: $('#SearchSerial').val(),
        };
        addAntiForgeryToken(data);
        return data;
    }
</script>