﻿@model RamadanBagModel
@using EGIC.Core.Models.RamadanBags
@{
    string pageTitle = "إضافة شنطة جديدة";
    //page title
    ViewBag.Title = pageTitle;
}

@*<script>
        function preSubmit(form) {
            var picture = $('.uploaded-image img');
            var pictureSrc = picture.attr('src');
            if (picture.length == 1) {
                $("#@Html.IdFor(model => model.ID_FrontImagePath)").val(pictureSrc);
            }
            $(form).submit();
        }
    </script>
        onsubmit="preSubmit(this)"
    *@
<form asp-controller="RamadanBags" asp-action="Add" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @pageTitle
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="Index">عرض كل شنط رمضان</a>
            </small>
        </h1>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
