﻿@model RamadanBagListModel
@using EGIC.Core.Models.RamadanBags
@{
    Layout = "_AdminLayout";
    string pageTitle = "شنط رمضان";
    //page title
    ViewBag.Title = pageTitle;
}


<div class="content-header clearfix">
    <h1 class="pull-left">
        @pageTitle
    </h1>
        <div class="pull-right">
            <a asp-action="Add" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                إضافة جديد
            </a>
        </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">

            <form asp-controller="RamadanBags" asp-action="RamadanBagsList" method="post">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                          
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper">
                                            <label asp-for="SearchSerial" class="control-label"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <input asp-for="SearchSerial" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <div class="label-wrapper">
                                        <label asp-for="SearchID" class="control-label"></label>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <input asp-for="SearchID" class="form-control" />
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="btn-search" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    بحث
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("_RamadanBagsList")
                </div>
            </div>
        </div>
    </div>
</div>
