﻿@model RamadanBagModel
@using EGIC.Core.Models.RamadanBags
@{
    string pageTitle = $"تعديل شنطة - ({Model.Name})";
    //page title
    ViewBag.Title = pageTitle;
}

@*<script>
        function preSubmit(form) {
            var picture = $('.uploaded-image img');
            var pictureSrc = picture.attr('src');
            if (picture.length == 1) {
                $("#@Html.IdFor(model => model.ID_FrontImagePath)").val(pictureSrc);
            }
            $(form).submit();
        }
    </script>
         onsubmit="preSubmit(this)"
*@
<form asp-action="SaveRamadanBag" asp-controller="RamadanBags" method="post" id="Picture-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @pageTitle
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="Index">عرض كل شنط رمضان</a>
            </small>
        </h1>
        @*<div class="pull-right">
            <span id="btnDelete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                حذف
            </span>
        </div>*@
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>

@*<egic-delete-confirmation asp-action="Delete"
                          asp-button-id="btnDelete"
                          asp-message="@($"هل انت متأكد من حذف هذه الشنطة ({Model.Name})؟")"
                          asp-model-ID="@Model.ID" />*@